In [3]:
import pandas as pd
#df = pd.read_parquet('sources/metadata.parquet', engine='pyarrow')
df_large = pd.read_parquet('../sources/metadata-large.parquet', engine='pyarrow')


# read excel_artist_names
import my_utils
excel_artist_names = my_utils.read_lines_as_list("../sources/excel_artists_copy_paste_name.txt")
hundred_artist_names =  excel_artist_names[0:100]
assert len(hundred_artist_names) == 100
ten_artist_names = excel_artist_names[0:10]
assert len(ten_artist_names) == 10

In [2]:
print(df_large.columns)

Index(['image_name', 'prompt', 'part_id', 'seed', 'step', 'cfg', 'sampler',
       'width', 'height', 'user_name', 'timestamp', 'image_nsfw',
       'prompt_nsfw'],
      dtype='object')

In [7]:
print(df_large.timestamp.min())
print(df_large.timestamp.max())

2022-08-06 21:59:00+00:00
2022-08-20 13:33:00+00:00

In [6]:
print(df_large.user_name.unique().shape)

(10381,)

In [42]:
print(df_large.seed.value_counts())

print(df_large.seed.unique().shape)
print(df_large.seed.describe())


print("timestamp")
timestamp_50 = df_large[df_large.seed == 2726823234].timestamp
print(timestamp_50.iloc[::50])




print(df_large[df_large.seed == 150].user_name.unique().shape)
print(df_large[df_large.seed == 2726823234].user_name.unique().shape)
print(df_large[df_large.seed == 3243157889].user_name.unique().shape)

150           2916
2726823234    2576
3243157889    2550
3508342747    2532
2615227870    2281
              ...
810531770        1
3274865629       1
2856670026       1
1319824961       1
857964944        1
Name: seed, Length: 12547098, dtype: int64
(12547098,)
count    1.400000e+07
mean     2.143160e+09
std      1.242911e+09
min      1.000000e+00
25%      1.066910e+09
50%      2.144104e+09
75%      3.219618e+09
max      4.294967e+09
Name: seed, dtype: float64
timestamp
32516      2022-08-17 06:22:00+00:00
79176      2022-08-14 18:20:00+00:00
312718     2022-08-17 16:55:00+00:00
470988     2022-08-13 15:10:00+00:00
591899     2022-08-11 16:01:00+00:00
963336     2022-08-10 19:43:00+00:00
1157894    2022-08-12 03:26:00+00:00
1503845    2022-08-15 16:48:00+00:00
1917556    2022-08-17 06:33:00+00:00
2358568    2022-08-15 08:23:00+00:00
2859875    2022-08-13 19:52:00+00:00
3383919    2022-08-11 21:46:00+00:00
3779495    2022-08-14 09:25:00+00:00
3985648    2022-08-15 15:52:00+00:00
4093046    2022-08-11 19:30:00+00:00
4505314    2022-08-11 10:26:00+00:00
4683895    2022-08-12 01:45:00+00:00
5062859    2022-08-10 15:11:00+00:00
5823795    2022-08-10 01:24:00+00:00
6056855    2022-08-11 16:37:00+00:00
6388388    2022-08-09 15:47:00+00:00
6720983    2022-08-15 20:12:00+00:00
6802358    2022-08-12 09:46:00+00:00
6837199    2022-08-11 09:10:00+00:00
7254037    2022-08-14 15:20:00+00:00
7392655    2022-08-09 15:50:00+00:00
7586502    2022-08-12 09:54:00+00:00
7838735    2022-08-13 11:48:00+00:00
8090124    2022-08-13 17:25:00+00:00
8320697    2022-08-15 20:18:00+00:00
8504712    2022-08-10 17:26:00+00:00
8643184    2022-08-15 21:14:00+00:00
8722001    2022-08-12 14:01:00+00:00
8983803    2022-08-11 19:39:00+00:00
9164124    2022-08-13 22:42:00+00:00
9387707    2022-08-15 14:53:00+00:00
9474483    2022-08-12 01:19:00+00:00
9794560    2022-08-10 21:36:00+00:00
9996079    2022-08-12 17:25:00+00:00
10328009   2022-08-12 11:08:00+00:00
10619475   2022-08-13 00:37:00+00:00
10818983   2022-08-15 20:16:00+00:00
11174325   2022-08-15 11:10:00+00:00
11256003   2022-08-12 04:33:00+00:00
11634672   2022-08-09 22:22:00+00:00
12067494   2022-08-15 14:10:00+00:00
12383321   2022-08-15 12:29:00+00:00
13034943   2022-08-15 19:31:00+00:00
13067271   2022-08-14 21:10:00+00:00
13260346   2022-08-10 02:26:00+00:00
13675992   2022-08-12 12:44:00+00:00
13876262   2022-08-09 22:03:00+00:00
Name: timestamp, dtype: datetime64[ns, UTC]
(365,)
(301,)
(299,)

In [10]:
print(df_large['seed'].isnull().values.any()) # keine NaN in Seed

False

In [22]:
print(df_large.shape)
print(df_large.user_name.value_counts())

(14000000, 13)
89bebf4f200a853ac9a7b4dfec1edb160ade299fd60db12d0752bbfd882c6f45    224010
deleted-account                                                      93543
481f5d1579a33041518382518a5e108cfc1fea95f880d081023f533eb1afd82a     49577
5477db661bbe6ff9fd509daf812fe50af4b6216f2b296c3cbf91c6b9e528fdce     38137
ac2524ee4169c7f644f783de87f9bbfb96fa68b6e116dfb1f8b65274edaee97a     37524
                                                                     ...
46b8b7b984d1d18b88cfcbaeac0728bb5aec9ef5c21e28831e8677d0621ed62e         1
19aba8d820816e84f8866140660d476c013858c2b6407b98bc5db41218095ee4         1
49788eeed56abc8f376073ce17f8097fdbdd3f70274ae2496c34f9543686a865         1
d6473a7a475e429100b5178a0298ebdfdf8d8d27bfc6eceed9f5a8d148c4a4b4         1
5e2d286338eb8cad8abb71c28c4d10cde5e4777a5ab8f9e39021c940b5de613f         1
Name: user_name, Length: 10381, dtype: int64

In [25]:
pd.set_option('display.max_colwidth', None)

print(df_large[df_large.user_name == "89bebf4f200a853ac9a7b4dfec1edb160ade299fd60db12d0752bbfd882c6f45"].head(10))

                                    image_name  \
531  5c91c55e-2997-4c8f-a352-d7a55c9101ad.webp
532  23756e3c-a208-4b22-9da0-389a20fc8fd1.webp
533  c74875dd-4fca-4d3c-b72b-cd1857386c1c.webp
534  dba6e669-c61f-4858-bdea-fa1c1632b772.webp
535  a78de037-1e01-449a-80d9-09fac1957160.webp
536  6027269e-c39a-4f7f-a06a-4a2f6b57d7e3.webp
537  a61eb078-41ce-4358-ba3e-2402c61a32b4.webp
538  827309b2-38cd-4fdd-a627-042e50fc5f8a.webp
539  03015b95-b837-43f7-a5e5-6cf1814016b6.webp
540  0924f662-e63f-4d6e-8757-ac2e061cf273.webp

                                                                                                                                                                                                                                        prompt  \
531  mount epic expedition bloodswarmer screenshot world of warcraft mounts worldboss bioluminecant light concept sketch art and by feng zhu alena aenami artworks in 4 k beeple, by thomas kinkade heartstone overwatch blizzard 3 d rtx hdr
532  mount epic expedition bloodswarmer screenshot world of warcraft mounts worldboss bioluminecant light concept sketch art and by feng zhu alena aenami artworks in 4 k beeple, by thomas kinkade heartstone overwatch blizzard 3 d rtx hdr
533  mount epic expedition bloodswarmer screenshot world of warcraft mounts worldboss bioluminecant light concept sketch art and by feng zhu alena aenami artworks in 4 k beeple, by thomas kinkade heartstone overwatch blizzard 3 d rtx hdr
534  mount epic expedition bloodswarmer screenshot world of warcraft mounts worldboss bioluminecant light concept sketch art and by feng zhu alena aenami artworks in 4 k beeple, by thomas kinkade heartstone overwatch blizzard 3 d rtx hdr
535       mount epic swift olive raptor screenshot world of warcraft mounts worldboss bioluminecant light concept sketch art and by feng zhu alena aenami artworks in 4 k beeple, by thomas kinkade heartstone overwatch blizzard 3 d rtx hdr
536       mount epic swift olive raptor screenshot world of warcraft mounts worldboss bioluminecant light concept sketch art and by feng zhu alena aenami artworks in 4 k beeple, by thomas kinkade heartstone overwatch blizzard 3 d rtx hdr
537       mount epic swift olive raptor screenshot world of warcraft mounts worldboss bioluminecant light concept sketch art and by feng zhu alena aenami artworks in 4 k beeple, by thomas kinkade heartstone overwatch blizzard 3 d rtx hdr
538       mount epic swift olive raptor screenshot world of warcraft mounts worldboss bioluminecant light concept sketch art and by feng zhu alena aenami artworks in 4 k beeple, by thomas kinkade heartstone overwatch blizzard 3 d rtx hdr
539       mount epic great purple elekk screenshot world of warcraft mounts worldboss bioluminecant light concept sketch art and by feng zhu alena aenami artworks in 4 k beeple, by thomas kinkade heartstone overwatch blizzard 3 d rtx hdr
540       mount epic great purple elekk screenshot world of warcraft mounts worldboss bioluminecant light concept sketch art and by feng zhu alena aenami artworks in 4 k beeple, by thomas kinkade heartstone overwatch blizzard 3 d rtx hdr

     part_id        seed  step   cfg  sampler  width  height  \
531        1  1306437380    50  12.0        8    768     512
532        1  1341991387    50  12.0        8    768     512
533        1  2726036640    50  12.0        8    768     512
534        1  1629868457    50  12.0        8    768     512
535        1  2797312217    50  12.0        8    768     512
536        1  1770056517    50  12.0        8    768     512
537        1  3673534016    50  12.0        8    768     512
538        1  1681093498    50  12.0        8    768     512
539        1  1124766567    50  12.0        8    768     512
540        1  2844730023    50  12.0        8    768     512

                                                            user_name  \
531  89bebf4f200a853ac9a7b4dfec1edb160ade299fd60db12d0752bbfd882c6f45
532  89bebf4f200a853ac9a7b4dfec1edb160ade299fd60db12d0752bbfd882c6f45
533  89bebf4f200a853ac9a7b4dfec1edb160ade299fd60db12d0752bbfd882c6f45
534  89bebf4f200a853ac9a7b4dfec1edb160ade299fd60db12d0752bbfd882c6f45
535  89bebf4f200a853ac9a7b4dfec1edb160ade299fd60db12d0752bbfd882c6f45
536  89bebf4f200a853ac9a7b4dfec1edb160ade299fd60db12d0752bbfd882c6f45
537  89bebf4f200a853ac9a7b4dfec1edb160ade299fd60db12d0752bbfd882c6f45
538  89bebf4f200a853ac9a7b4dfec1edb160ade299fd60db12d0752bbfd882c6f45
539  89bebf4f200a853ac9a7b4dfec1edb160ade299fd60db12d0752bbfd882c6f45
540  89bebf4f200a853ac9a7b4dfec1edb160ade299fd60db12d0752bbfd882c6f45

                    timestamp  image_nsfw  prompt_nsfw
531 2022-08-20 09:30:00+00:00    0.080630     0.001065
532 2022-08-20 09:30:00+00:00    0.080592     0.001065
533 2022-08-20 09:30:00+00:00    0.075654     0.001065
534 2022-08-20 09:30:00+00:00    0.050372     0.001065
535 2022-08-20 10:59:00+00:00    0.085626     0.002059
536 2022-08-20 10:59:00+00:00    0.091593     0.002059
537 2022-08-20 10:59:00+00:00    0.066272     0.002059
538 2022-08-20 10:59:00+00:00    0.082520     0.002059
539 2022-08-20 11:02:00+00:00    0.131847     0.001194
540 2022-08-20 11:02:00+00:00    0.133744     0.001194

In [ ]:
df.shape

In [21]:
len(df_large["prompt"].unique())

1819808

In [ ]:
# save to csv for human readability
df.to_csv("sources/metadata.csv", escapechar = "\\")
df_large.to_csv("sources/metadata-large.csv", escapechar = "\\")

# Exact matching

TODO we need to check how to improve this

some artists are not found from the copy paste name, since that name is too explicit, e.g.
Friedensreich Regentag Dunkelbunt Hundertwasser
see playground

## Extract artists from Prompts

In [ ]:
# Unique prompts
cols = ["prompt", "image_name","user_name"]

cp = df_large[cols].copy()
cp = cp.drop_duplicates(subset="prompt")
artist_names = excel_artist_names
artist_names = [x.lower() for x in artist_names]

cp['artists'] = cp['prompt'].map(
        lambda p: my_utils.extract_artists_exact(p, artist_names))
cp["num_artists"] = cp['artists'].map(
        lambda p: len(p))
print(cp.head())
cp.to_parquet("../results/artists_exact_match_large.parquet")
cp.to_csv("../results/artists_exact_match_large.csv", escapechar="\\")
print(f'Artists extracted')

In [ ]:
# Total prompts
cols = ["prompt", "image_name","user_name"]

cp = df_large[cols].copy()
artist_names = excel_artist_names
artist_names = [x.lower() for x in artist_names]

cp['artists'] = cp['prompt'].map(
        lambda p: my_utils.extract_artists_exact(p, artist_names))
cp["num_artists"] = cp['artists'].map(
        lambda p: len(p))
print(cp.head())
cp.to_parquet("../results/artists_exact_match_large_all_prompts.parquet")
cp.to_csv("../results/artists_exact_match_large_all_prompts.csv", escapechar="\\")
print(f'Artists extracted')

## Count Artist Mentions

In [1]:
import pandas as pd
import my_utils
import time

excel_artist_names = my_utils.read_lines_as_list("sources/excel_artists_copy_paste_name.txt")
exact_matches = pd.read_parquet('results/artists_exact_match_large.parquet', engine='pyarrow')
print(exact_matches.dtypes)


cols = ["artist", "mentions"]

artist_mentions =  pd.DataFrame(columns=cols)

starttime = time.time()
c=0
for name in excel_artist_names:
    print(f'{c} {name}',flush=True)
    
    
    c+=1
    if c == 15:
          break
    new_row = dict()
    new_row['artist'] = name
    mdf = my_utils.exact_match_dataframe(exact_matches, name)
    #print(mdf)
    new_row['mentions'] = mdf.shape[0]
    
    new_row = pd.Series(new_row)
    #print(new_row)
    
    artist_mentions = pd.concat([artist_mentions, new_row.to_frame().T], ignore_index=True)
    
    duration = time.time() - starttime
    print(f'analysing {c} artists took {duration / 60} minutes',flush=True)
    print(f'time remaining estimate {(duration/c)*(len(excel_artist_names)-c)/60} minutes',flush=True)

artist_mentions.sort_values("mentions", axis=0, ascending=False, inplace=True)
    
artist_mentions.to_csv("results/artist_mentions.csv", escapechar = "\\")
artist_mentions.to_parquet("results/artist_mentions.parquet")
print("finished")

prompt         object
image_name     object
artists        object
num_artists     int64
dtype: object
0 Alvar Aalto
analysing 1 artists took 0.01518559455871582 minutes
time remaining estimate 52.8914258480072 minutes
1 Slim Aarons
analysing 2 artists took 0.030604982376098634 minutes
time remaining estimate 53.28327431678772 minutes
2 Edwin Austin Abbey
analysing 3 artists took 0.046196266015370684 minutes
time remaining estimate 53.603067333168454 minutes
3 Gertrude Abercrombie
analysing 4 artists took 0.06205739974975586 minutes
time remaining estimate 53.9899377822876 minutes
4 Marina Abramović
analysing 5 artists took 0.07790478467941284 minutes
time remaining estimate 54.20614917993546 minutes
5 Tomma Abts
analysing 6 artists took 0.09367370208104452 minutes
time remaining estimate 54.299522639645474 minutes
6 Vito Acconci
analysing 7 artists took 0.10877883831659953 minutes
time remaining estimate 54.03200297525951 minutes
7 Andreas Achenbach
analysing 8 artists took 0.12386554876963297 minutes
time remaining estimate 53.81958094040553 minutes
8 Norman Ackroyd
analysing 9 artists took 0.13885962963104248 minutes
time remaining estimate 53.615245885319176 minutes
9 Ansel Adams
analysing 10 artists took 0.1538102587064107 minutes
time remaining estimate 53.43368387460709 minutes
10 Arthur Adams
analysing 11 artists took 0.16884251832962036 minutes
time remaining estimate 53.308187832615594 minutes
11 Neal Adams
analysing 12 artists took 0.18489678303400675 minutes
time remaining estimate 53.49680255783929 minutes
12 Josh Adamski
analysing 13 artists took 0.20109114646911622 minutes
time remaining estimate 53.69133610725403 minutes
13 Charles Addams
analysing 14 artists took 0.21683271725972494 minutes
time remaining estimate 53.74353777794611 minutes
14 Etel Adnan
finished

# Fuzzy Matching

In [ ]:
import time
import my_utils

starttime = time.time()

n = 1000
similarity_threshold = 0.8

df_reduced = df.head(n).copy()
assert df_reduced.shape[0] == n, f'shape is {df_reduced.shape[0]}'

artist_list = hundred_artist_names
df_reduced['artists'] = df_reduced['prompt'].map(
        lambda p: my_utils.extract_artists_fuzzy(p, artist_list, similarity_threshold))
df_reduced.to_parquet(f'{n}_entries.parquet')
df_reduced.to_csv(f'{n}_entries.csv')

duration = (time.time()-starttime)
print(f'processing took {duration/60} minutes, average {duration/n} seconds per row for {len(artist_list)} artists')

goal = 1600000
print(f'for {goal} entries it would take approximately {duration/n * goal / 60 / 60} hours')


df_reduced['artists_amount'] = df_reduced['artists'].apply(
        lambda query: len(query))
    
entries_with_artists = df_reduced.loc[df_reduced['artists_amount'] > 0, ["image_name", "prompt","user_name","artists","artists_amount"]]
entries_with_artists.to_parquet("artists_filtered.parquet")
entries_with_artists.to_csv("artists_filtered.csv")

# prognose: 933.333333333 stunden für den gesamten Datensatz (mit allen Namen aus )

# prognose: 0.11 * 1600000 /60 /60 = 48 stunden für nur die Namen aus 100_copy_paste_names.txt